
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Portfolio</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
      <div>
        <ion-list *ngFor="let coin of users_coins">
          <ion-row id="underline">
            <ion-col>
              <p>{{coin.name}}</p>
              <p>{{coin.$key}}</p>
            </ion-col>
          </ion-row>
        </ion-list>
        </div>
        <p>----------------------------</p>
      <div>
        <ion-list *ngFor="let coin of user_coin">
          <ion-row id="underline">
            <ion-col>
              <p>{{coin.$key}}</p>
              <p>{{coin.quantity}}</p>
            </ion-col>
          </ion-row>
        </ion-list>
      </div>

</ion-content>
